.mention{
    background-color: yellow;
    font-family: inherit; 
    font-size: inherit; 
    letter-spacing: inherit;
}

.journal-entry{
    width: 100%;
    height: 30vh;
}
.button {
    background-color: #00a6a4;
    border-color: #00a6a4;
    font-weight: bolder;
  }
  