.heroImg {
    background-image: url(../../assets/hero3_img.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    border-bottom: 5px solid #f49e09;
    margin-bottom: 3vh;
}

.hero-body{
    padding-top: 0px;
}

.heroImg{
    padding-top: 40px;
}

