#photoWindow{
    background-color: #f49e09;
    height: 95vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#gallery {
    
    padding:10px;
    height: inherit;
    overflow: auto;
}

#gallery img{
    width:32%;
    
    margin:2px;
}