#photoWindow{
    background-color: #f49e09;
    height: 95vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#gallery {
    padding:10px;
    height: inherit;
    overflow-y:auto; 
    overflow-x: hidden;
}

 #gallery img{
    /* width:32%;
    padding-top: 0px;
    overflow: hidden;
    margin:2px; */
    object-fit: cover;
    object-position: bottom;
    /* display: inline; */
}


 /* .thumbnail {
     width: 32%;
     height: 250px;
     overflow: hidden;
 }

 .thumbnail img{
     
 } */