#journalWindow{
    background-color: #efca08;
    height: 95vh;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.media-content {
    background-color: white;
    border-style: solid;
    border-color: coral;
    border-color: #00a6a4;
    font-weight: bolder;
    color: black;
    
}
strong {
    font-size: larger;
}