.thumbnail {
  position: relative;
  text-align: center;
}

.editText {
  
  position: absolute;
  bottom: 16px;
  right: 16px;
}
button{
background-color: #00a6a4;
    border-color: #00a6a4;
    font-weight: bolder;}