#journalWindow{
    background-color: #efca08;
    height: 753px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#postArea{
    width:98%;
    height:95%;
    margin: auto;
    overflow-y:auto;
    overflow-x: hidden;
}

.media-content {
    background-color: white;
    border-style: solid;
    border-color: coral;
    border-color: #00a6a4;
    font-weight: bolder;
    color: black;
    
}
strong {
    font-size: larger;
}