#mapWindow {
    position: relative;
    background-color: #00a6a4;
    height: 800px;
    border-radius: 7px;
    
}
.leaflet-container {
    /* position: absolute; */
    margin:auto;
    width: 98%;
    height:95%;
    cursor: grab;
}
.edit-active {
    cursor: crosshair;
}
.pending-marker{
    border: 2px solid salmon;
}