#mapWindow {
    position: relative;
    background-color: #00a6a4;
    height: 800px;
    border-radius: 7px;
    
}
.leaflet-container {
    /* position: absolute; */
    margin:auto;
    width: 98%;
    height:84%;
    cursor: grab;
    border-radius: 10px;
}
/* sets the cursor to the point when edit is active */
.edit-active {
    cursor: url('https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png') 10 50, auto;
}
/* .pending-marker{
    border: 2px solid salmon;
} */

.mapBtn {
    background-color: #efca08;
    margin: 10px;
}

.mapInputFields{
    padding-top: 20px;
}

@media (max-width: 767px){
    #mapWindow{
        position: relative;
        background-color: #00a6a4;
        height: 500px;
        width: 95%;
        border-radius: 7px;
        margin: auto;
    }

    .leaflet-container {
        /* position: absolute; */
        margin:auto;
        width: 96%;
        height: 370px;
        cursor: grab;
        border-radius: 10px;
    }

    .mapInputFields{
        padding-top: 5px;
    }
    
}